* {
    box-sizing: border-box;
}

:root {
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
    --round: var(--s0);
    --slightlyRound: var(--s-2);
    --test-border-width: 0px;

    /* palette */
    --cWorkspace: #760a9d;
    --cUser: #29367a;
    --cApp: #0a5323;
    --cWhite: #fff;
    /*--cGray: #dcded0;*/
    /*--cGray: #eee;*/
    /*--cGray: #b3b3ca;*/
    --cEggplant: #8e8999;
    --cBlack: #222;

    /* color roles */
    --cPaper: var(--cWhite);
    --cInk: var(--cBlack);

    --cEarthbarPaper: var(--cBlack);
    --cEarthbarInk: var(--cWhite);

    /* default colors */
    background: var(--cPaper);
    color: var(--cInk);

    line-height: 21px;
    font-size: 16px;
    font-family: sans-serif;
}

.centeredReadableWidth {
    max-width: 50ch;  /* 70ch */
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
}

/* === LAYOUT: STACK ===================================================== */

.stack { }
.stack > * + * {
    margin-top: var(--s0);
}

/* === LAYOUT: FLEX ROW ===================================================== */

.flexRow {
    border: var(--test-border-width) dashed #880;
    display: flex;
}
.flexRowWrap {
    flex-wrap: wrap;
}

.flexItem:first-child {
    margin-left: 0px;
}
.flexItem {
    margin-left: var(--s-1);
    border: var(--test-border-width) solid #880;
    display: block;
}
.flexItemVerticalCenter { align-self: center; }
.flexGrow1 { flex-grow: 1; }
.flexShrink0 { flex-shrink: 0; }

/* === HELPERS: LAYOUT ===================================================== */

.block { display: block; }

.width100 { width: 100%; }
.indent { margin-left: var(--s1); }

.right { text-align: right; }
.center { text-align: center; }

/* === HELPERS: MOUSE ===================================================== */

.unclickable { pointer-events: none; }

.unselectable { user-select: none; }
.selectable { user-select: text; }

/* === HELPERS: APPEARANCE ===================================================== */

.faint { opacity: 0.5; }

/* === HELPERS: FONT AND TEXT ===================================================== */

.bold { font-weight: bold; }
.monospace { font-family: monospace; }

.wrappyText {
    /* make sure text wraps inside its container */
    white-space: break-spaces;
    overflow-wrap: break-word;
    overflow: auto;
}

.singleLineTextComplete {
    /* show ALL the text on one line */
    white-space: nowrap;
    overflow: hidden;
}

.singleLineTextEllipsis {
    /* show text on one line, with ellipsis if too long */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* === HTML STYLE RESET ===================================================== */

hr {
    border: none;
    border-top: 2px solid var(--cInk);
}

input[type=text], input[type=password] {
    border: 2px solid var(--cInk);
    background: none;
    color: var(--cInk);
    min-width: 20px;

    /* same padding as button */
    padding-top: var(--s-1);
    padding-bottom: var(--s-1);
    padding-left: var(--s0);
    padding-right: var(--s0);

    margin: none;
    border-radius: var(--slightlyRound);
}

textarea {
    border: 2px solid var(--cInk);
    background: none;

    color: var(--cInk);

    padding: var(--s-2);
    margin: none;
    width: 100%;
    border-radius: var(--slightlyRound);
}

.button {
    border: none;
    font-weight: bold;
    border-radius: var(--round);
    background: var(--cInk);
    color: var(--cPaper);
    white-space: nowrap;
    /*overflow: hidden;*/
    padding-top: var(--s-1);
    padding-bottom: var(--s-1);
    padding-left: var(--s0);
    padding-right: var(--s0);
}
.button:disabled {
    opacity: 0.5;
}

/* for <a> that look like text and act as buttons */
.linkButton {
    font-weight: bold;
    text-decoration: none;
    color: var(--cInk);
    background: none;
}
.linkButton:hover {
    background: red;
}

/* === EARTHBAR TABS AND PANELS ============================================= */

.earthbarColors {
    --cPaper: var(--cEarthbarPaper);
    --cInk: var(--cEarthbarInk);

    background: var(--cPaper);
    color: var(--cInk);
}

.earthbarTabRow {
    padding: var(--s0);
    padding-bottom: 0;
}

.earthbarTab {
    padding: var(--s0);
    font-weight: bold;
    /*font-family: monospace;*/
    border-top-left-radius: var(--round);
    border-top-right-radius: var(--round);
    white-space: nowrap;
    /*text-overflow: ellipsis;*/
    overflow: hidden;
}
